# NOTE this file is a per project config for THIS repo, so when we edit
# lua files, stylua adopt a favored indenting, it is NOT a dotfiles to symlink
[*.lua]
indent_size = 2

[*.html]
indent_size = 2
